*{
    font-family: 'Anton';
    color: rgb(0, 255, 0);
      




}

.box {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}


body{
    margin: 400px;


}

#text{
    margin-top:50px;


}